/* You can add global styles to this file, and also import other style files */

.level1{
    background-color: rgb(231, 228, 255);
 }
 .level2{
    background-color: rgb(255, 237, 227);
 }
 .level3{
    background-color: rgb(242, 248, 227);
 }